<body class = "bodyy">
<h1>About Us</h1>
<%= link_to "Home", homes_path %>
<%= link_to "About", about_path %>
<%= link_to "Dog Breeds", breeds_path %>


<p id = "aboutParagraph">This website uses the Dog API and the Faker gem populating the tables. 
The tables that are utilized are: Dogs, Breeds, Owners and finally the Ownership Joiner Table.
Dogs may have many Owners and vice versa. This many to many relationship requires a join table.
Faker is used to populate their name columns and are given random ages. </p>
<%= image_tag 'erdscreenshot.png', id:  'erd', alt: 'ERD diagram' %>
</body>